@model IEnumerable<AceleraPlenoTrabalhoFinal.Mvc.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo Cliente", "Criar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                @*@Html.ActionLink("Deletar", "Deletar", new { id = item.Id })*@
                <a onclick="Inativar('@item.Id')" class="btn btn-sm btn-default">
                    <i class="fa fa-trash"></i> Excluir
                </a>
            </td>
        </tr>
    }

</table>


@section Scripts {
    <script>

        $(function(){
            var successMessage = '@TempData["MsgSucesso"]'
            if(successMessage != '')
                alertify.success(successMessage);
        });  /*Função para receber valor de MsgSucesso da Controller e tratar para Alertify*/

        function Inativar(id) {
            alertify.confirm('Exclusão de Cliente', 'Confirmar exclusão ?',function(){
                window.location.href = '@Url.Action("Deletar","Cliente")/'+id;
            },null );
        } /*Função para Modal de confirmação de exclusão */
    </script>
}